$color-white: #E1F1FF;
$color-light-gray: #A7B3BC;
$color-light-gold: #FFECD1;
$color-light-green: #D8FFD7;
$color-gold: #FAAF42;
$color-green: #55E252;
$color-blue: #0080FF;
$color-orange: #FF7139;
$color-purple: #906CFF;
$color-red: #E84242;
$color-very-dark-gray: #171818;
$color-dark-gray: #2C2E30;
$color-med-gray: #3F4244;
$color-light-gray: #C8CECE;
$color-button-gray: #666A6D;

$corner-radius: 7px;
$padding-base: 4px;
$padding-size: $padding-base * 5;
$max-width: 540px;

$font-size-large: 20px;
$font-size-med: 18px;
$font-size-small: 16px;
$font-size-extra-small: 14px;
